.App {
  border-radius: 10px;
  background-color: whitesmoke;
}
img {
  width: 10rem;
}
.airbnb {
  width: 5rem;
}
.Title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  box-shadow: 0px 9px 16px -9px rgba(184, 182, 184, 1);
  padding: 1rem 5rem 1rem 2rem;
  margin-bottom: 3rem;
}
.Main-Image {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.CroppingType1 {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 30%;
  width: 90px;
  height: 120px;
}
.CroppingType2 {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 30%;
  width: 90px;
  height: 90px;
}
.CroppingType3 {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 90% 30%;
  width: 90px;
  height: 120px;
}
